@import "tailwindcss";

@theme {
    --font-poppins: 'Poppins', sans-serif;
    --color-admin-blue: #1d4ed8;
    --color-admin-blue-light: #2563eb;
    --color-admin-blue-dark: #1e40af;
    --color-sidebar-blue: #1C4CD2;
}
